<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <title>分类标签-Blog</title>
    <link rel="icon" type="image/x-icon" href="../static/blogweb/img/cat.svg">
    <link rel="stylesheet" type="text/css" href="../static/blogweb/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/blogweb/css/bootstrap-select.css">
    <link rel="stylesheet" type="text/css" href="../static/blogweb/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/blogweb/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/blogweb/css/setting.css">
    <script type="text/javascript" src="../static/blogweb/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../static/blogweb/js/bootstrap.js"></script>
    <script type="text/javascript" src="../static/blogweb/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="../static/blogweb/js/wangEditor.min.js"></script>
    <style>
        .nav > li > a:focus {
            text-decoration: none;
            background-color: #fff;
        }
        .my-right .tag .table tr{
            border-bottom: #ddd 1px solid;
        }
        .row{
            border-top: #ddd 1px solid;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/blog" style="color: #333; padding-top: 3px;"><img style="" th:src="@{../static/blogweb/img/cat.svg}"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/blog_edit" target="_blank"><img src="../static/blogweb/img/csdn-write.png"> <span style="color: #D92E2E">写博客</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="background-image: url('../static/blogweb/img/7.ico'); border-radius: 50%; width: 40px; height: 40px;margin: 5px 0;"></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><span class="glyphicon glyphicon-book"></span> &nbsp;&nbsp;&nbsp;&nbsp;我的博客</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-folder-open"></span> &nbsp;&nbsp;&nbsp;&nbsp;管理博客</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><span class="glyphicon glyphicon-question-sign"></span> &nbsp;&nbsp;&nbsp;&nbsp;帮助</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default btn-danger"><span class="glyphicon glyphicon-search"></span></button>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!--<div class="bg"></div>-->

<div class="container">
    <div class="my-left">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" data-toggle="modal" data-target="#myModal"><a href="#">Markdown编辑器</a></li>
            <li role="presentation"><a href="/blog_edit">富文本编辑器</a></li>
            <li role="presentation"><a href="/blog" target="_blank">查看主页</a></li>
        </ul>
        <hr>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="/blog_setting">文章管理</a></li>
            <li role="presentation"><a href="#">项目管理</a></li>
            <li role="presentation" class="active"><a href="#" style="background-color: #D92E2E">分类标签</a></li>
        </ul>
        <hr>
    </div>
    <div class="my-right">
        <div class="create" style="margin-bottom: 24px;width: 100%;height: 32px;">
            <a href="/blog" class="btn btn-default" style="height: 32px;width: 64px;float: right;">新建</a>
        </div>
        <div class="tag">
            <div class="row" style="color: #8c8c8c;min-height: 46px;padding: 12px 0;">
                <div class="col-sm-7"><span style="margin-left: 24px">类别</span></div>
                <div class="col-sm-4">操作</div>
                <div class="col-sm-1">文章数</div>
            </div>
            <div class="row myRow">
                <div class="col-sm-7">
                    <img src="../static/blogweb/img/tag_img/java.png"><span style="padding-left: 12px; height: 48px;">Java</span>
                </div>
                <div class="col-sm-4">
                    <span class="choose">
                        <a style="border-right: #ccc 1px solid;color: #349EDF;">查看</a>
                        <a style="border-right: #ccc 1px solid;color: #349EDF;">编辑</a>
                        <a style="color: #D92E2E;">删除</a>
                    </span>
                </div>
                <div class="col-sm-1">
                    <span>13</span>
                </div>
            </div>
            <div class="row myRow">
                <div class="col-sm-7">
                    <img src="../static/blogweb/img/tag_img/mysql.png"><span style="padding-left: 12px; height: 48px;">MySQL</span>
                </div>
                <div class="col-sm-4">
                    <span class="choose">
                        <a style="border-right: #ccc 1px solid;color: #349EDF;">查看</a>
                        <a style="border-right: #ccc 1px solid;color: #349EDF;">编辑</a>
                        <a style="color: #D92E2E;">删除</a>
                    </span>
                </div>
                <div class="col-sm-1">
                    <span>13</span>
                </div>
            </div>
            <div class="row myRow">
                <div class="col-sm-7">
                    <img src="../static/blogweb/img/tag_img/linux.png"><span style="padding-left: 12px; height: 48px;">Linux</span>
                </div>
                <div class="col-sm-4">
                    <span class="choose">
                        <a style="border-right: #ccc 1px solid;color: #349EDF;">查看</a>
                        <a style="border-right: #ccc 1px solid;color: #349EDF;">编辑</a>
                        <a style="color: #D92E2E;">删除</a>
                    </span>
                </div>
                <div class="col-sm-1">
                    <span>13</span>
                </div>
            </div>
            <div class="row myRow">
                <div class="col-sm-7">
                    <img src="../static/blogweb/img/tag_img/python.png"><span style="padding-left: 12px; height: 48px;">Python</span>
                </div>
                <div class="col-sm-4">
                    <span class="choose">
                        <a style="border-right: #ccc 1px solid;color: #349EDF;">查看</a>
                        <a style="border-right: #ccc 1px solid;color: #349EDF;">编辑</a>
                        <a style="color: #D92E2E;">删除</a>
                    </span>
                </div>
                <div class="col-sm-1">
                    <span>13</span>
                </div>
            </div>
            <div class="row myRow">
                <div class="col-sm-7">
                    <img src="../static/blogweb/img/tag_img/java-script.png"><span style="padding-left: 12px; height: 48px;">Javascript</span>
                </div>
                <div class="col-sm-4">
                    <span class="choose">
                        <a style="border-right: #ccc 1px solid;color: #349EDF;">查看</a>
                        <a style="border-right: #ccc 1px solid;color: #349EDF;">编辑</a>
                        <a style="color: #D92E2E;">删除</a>
                    </span>
                </div>
                <div class="col-sm-1">
                    <span>13</span>
                </div>
            </div>
            <div class="row myRow">
                <div class="col-sm-7">
                    <img src="../static/blogweb/img/tag_img/default.png"><span style="padding-left: 12px; height: 48px;">Bootstrap</span>
                </div>
                <div class="col-sm-4">
                    <span class="choose">
                        <a style="border-right: #ccc 1px solid;color: #349EDF;">查看</a>
                        <a style="border-right: #ccc 1px solid;color: #349EDF;">编辑</a>
                        <a style="color: #D92E2E;">删除</a>
                    </span>
                </div>
                <div class="col-sm-1">
                    <span>13</span>
                </div>
            </div>
            <div class="row myRow">
                <div class="col-sm-7">
                    <img src="../static/blogweb/img/tag_img/oracle.png" style="width: 48px; height: 48px;"><span style="padding-left: 12px; height: 48px;">Bootstrap</span>
                </div>
                <div class="col-sm-4">
                    <span class="choose">
                        <a style="border-right: #ccc 1px solid;color: #349EDF;">查看</a>
                        <a style="border-right: #ccc 1px solid;color: #349EDF;">编辑</a>
                        <a style="color: #D92E2E;">删除</a>
                    </span>
                </div>
                <div class="col-sm-1">
                    <span>13</span>
                </div>
            </div>
            <div class="row tag-footer"></div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index: 10002;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="color: #D92E2E;">提示</h4>
            </div>
            <div class="modal-body">
                暂未嵌入Markdown编辑器...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.my-left ul li:first').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })
        $(".dropdown").mouseover(function () {
            if($(this).attr("class") === "dropdown")
            {
                $(".dropdown-toggle").click()
            }
        })
        $(".dropdown").mouseout(function () {
            if($(this).attr("class") === "dropdown open")
            {
                $(".dropdown-toggle").click()
            }
        })
    })
</script>
</body>
</html>
